.container {
  position: absolute;
  top: 10.875rem;

  display: flex;
  width: 46rem;
  height: 3.375rem;
  gap: 0.725rem;
  justify-content: space-between;
  overflow: hidden;
}

.container input {
  flex: 1;
  background: var(--gray-500);
  color: var(--gray-100);
  border-radius: 8px;
  padding: 1rem;
  border: none;
}

.container button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  background: var(--blueDark);
  color: var(--gray-100);
  width: 5.625rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  gap: 5px;
  transition: color 0.1s, background-color 0.1s;
}

.container button:hover {
  background: var(--blue);
}
